.specifications{
	margin-right: 30px;
}
.first_line{
	max-width: 300px;
}
.form-group{
	font-size: 2rem;
	text-align: center;
}


select{
	display: block;
}
.description text-center{
	max-width: 1024px;
}
.back{
	position: fixed;
	right: 10px;
	top: 80%;
}