<!DOCTYPE html>
<html>
<head>
	<title>Good Buy Car!</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<form method="POST" action="/some">
	<input type="text" name="text">
    <select name="marka">
        <option>Audi</option>
        <option>BMW</option>
        <option>Chery</option>
        <option>Chevrolet</option>
        <option>Citroen</option>
        <option>Daewoo</option>
        <option>Ford</option>
        <option>Honda</option>
        <option>Hyundai</option>
        <option>Infiniti</option>
        <option>KIA</option>
        <option>Land Rover</option>
        <option>Lexus</option>
        <option>Mazda</option>
        <option>Mercedes-Benz</option>
        <option>Mitsubishi</option>
        <option>Nissan</option>
        <option>Opel</option>
        <option>Peugeot</option>
        <option>Renault</option>
        <option>Skoda</option>
        <option>Suzuki</option>
        <option>Toyota</option>
        <option>Volkswagen</option>
        <option>Volvo</option>
        <option>ВАЗ (LADA)</option>
        <option>ГАЗ</option>
        <option>УАЗ</option>
        <option>AC</option>
        <option>Acura</option>
        <option>Adler</option>
        <option>Alfa Romeo</option>
        <option>Aston Martin</option>
        <option>Audi</option>
        <option>BAW</option>
        <option>Bentley</option>
        <option>BMW</option>
        <option>Brilliance</option>
        <option>Buick</option>
        <option>BYD</option>
        <option>Cadillac</option>
        <option>Changan</option>
        <option>ChangFeng</option>
        <option>Chery</option>
        <option>Chevrolet</option>
        <option>Chrysler</option>
        <option>Citroen</option>
        <option>Dacia</option>
        <option>Daewoo</option>
        <option>Daihatsu</option>
        <option>Datsun</option>
        <option>Derways</option>
        <option>Dodge</option>
        <option>Dongfeng</option>
        <option>Doninvest</option>
        <option>DW Hower</option>
        <option>Excalibur</option>
        <option>FAW</option>
        <option>FIAT</option>
        <option>Ford</option>
        <option>Foton</option>
        <option>GAC</option>
        <option>Geely</option>
        <option>Genesis</option>
        <option>GMC</option>
        <option>Great Wall</option>
        <option>Hafei</option>
        <option>Haima</option>
        <option>Haval</option>
        <option>Honda</option>
        <option>Huanghai</option>
        <option>Hummer</option>
        <option>Hyundai</option>
        <option>Infiniti</option>
        <option>Iran Khodro</option>
        <option>Isuzu</option>
        <option>Iveco</option>
        <option>JAC</option>
        <option>Jaguar</option>
        <option>Jeep</option>
        <option>JMC</option>
        <option>KIA</option>
        <option>Lamborghini</option>
        <option>Lancia</option>
        <option>Land Rover</option>
        <option>Landwind</option>
        <option>LDV</option>
        <option>Lexus</option>
        <option>LIFAN</option>
        <option>Lincoln</option>
        <option>Maserati</option>
        <option>Mazda</option>
        <option>Mercedes-Benz</option>
        <option>Mercury</option>
        <option>Metrocab</option>
        <option>MINI</option>
        <option>Mitsubishi</option>
        <option>Nissan</option>
        <option>Oldsmobile</option>
        <option>Opel</option>
        <option>Peugeot</option>
        <option>Plymouth</option>
        <option>Pontiac</option>
        <option>Porsche</option>
        <option>PUCH</option>
        <option>Ravon</option>
        <option>Renault</option>
        <option>Rolls-Royce</option>
        <option>Rover</option>
        <option>Saab</option>
        <option>Saturn</option>
        <option>Scion</option>
        <option>SEAT</option>
        <option>Shuanghuan</option>
        <option>Skoda</option>
        <option>Smart</option>
        <option>SsangYong</option>
        <option>Studebaker</option>
        <option>Subaru</option>
        <option>Suzuki</option>
        <option>Tesla</option>
        <option>Toyota</option>
        <option>Trabant</option>
        <option>Volkswagen</option>
        <option>Volvo</option>
        <option>Vortex</option>
        <option>Wanderer</option>
        <option>Wartburg</option>
        <option>Westfield</option>
        <option>Willys</option>
        <option>ZOTYE</option>
        <option>ZX</option>
        <option>Богдан</option>
        <option>ВАЗ (LADA)</option>
        <option>ВИС</option>
        <option>ГАЗ</option>
        <option>ЗАЗ</option>
        <option>ЗиС</option>
        <option>ИЖ</option>
        <option>ЛуАЗ</option>
        <option>Москвич</option>
        <option>ТагАЗ</option>
        <option>УАЗ</option>
    </select>
    <input type="submit">
</form>
</body>
</html>