<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    {% for car in cars %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if car['photo'] %}
                        <img class="first_line" src="{{car['photo']}}" alt="...">
                    {% endif %}
                </div>
                <div class="w-100 d-lg-none"></div>
                <div class="col-md-8">
                    <div class="card-body">
                        {% if not car['link']%}
                            <h5 class="card-title">{{ car['title'] }}</h5>
                        {% else %}
                            <h5 class="card-title"><a href={{car['link']}} target="_blank">{{ car['title'] }}</a></h5>
                        {% endif %}
                        <p class="card-text"><h2>{{ car['price'] }}</h2></p>
                        {% if car['motor'] %}
                            <div class="specifications">{{ car['motor'] }}</div>
                        {% endif %}
                        {% if car['year'] %}
                            <span class="specifications">Год: {{ car['year'] }}</span>
                        {% endif %}
                        {% if car['km'] %}
                            <span class="specifications">Пробег: {{ car['km'] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-2">
                    {% if 'auto.ru' in car['link'] %}
                        <img src="/static/autoru.png" alt="...">
                    {% endif %}
                    {% if 'drom' in car['link'] %}
                        <img src="/static/drom_logo.jpg" alt="...">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% for i in range(1, cars[-1][0]) %}
        <a href="/cars?marka={{ cars[-1][1] }}&page={{ i }}" class="btn btn-primary btn-md">{{ i }}</a>
    {% endfor %}
</div>
</body>
</html>